//flex布局复用
@mixin flex($hov:space-between,$col:center) {
    display: flex;
    //flex布局中的水平居中
    justify-content: space-between;
    //flex布局的垂直居中
    align-items: center;
}
//背景图片的复用
@mixin bgImg($w:0,$h:0,$img:'',$size:contain) {
    width: $w;
    height: $h;
    display: inline-block;
    background: url($img) no-repeat center;
    background-size: $size;
}
//定位
@mixin position($pos:absolute,$top:0,$left:0,$w:100%,$h:100%) {
    position: $pos;
    top:$top;
    left: $left;
    width: $w;
    height: $h;
}
//绝对定位的图片
@mixin positionImg($pos:absolute,$top:0,$right:0,$w:0,$h:0,$img:'',$size:contain) {
    width: $w;
    height: $h;
    position: $pos;
    top: $top;
    right: $right;
    background: url($img) no-repeat center;
    background-size: $size;
}
@mixin border($bw:1px,$bc:$colorF,$bs:solid) {
    border: $bw $bs $bc; 
}
@mixin height($h:0,$lh:$h) {
    height: $h;
    line-height: $lh;
}
@mixin wH($w:0,$h:0) {
    width:$w;
    height: $h;
}